In [1]:
import sqlite3

In [4]:
connection = sqlite3.connect('test.db')
connection

In [5]:
cursor = connection.cursor()

In [7]:
cursor.execute('''CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
connection.commit()

In [10]:
cursor.execute('''SELECT * FROM test''')

In [13]:
cursor.execute('''INSERT INTO test (name, age) VALUES ('Alice', 25)''')
connection.commit()

In [21]:
cursor.execute('''SELECT * FROM test''')
rows = cursor.fetchall()
print(rows) 
for row in rows:
    print(row)

[(1, 'Alice', 26), (2, 'Alice', 26), (3, 'Alice', 26)]
(1, 'Alice', 26)
(2, 'Alice', 26)
(3, 'Alice', 26)

In [23]:
cursor.execute('''UPDATE test SET age = 46 WHERE name = 'Alice' ''')

In [24]:
cursor.execute('''SELECT * FROM test''')
rows = cursor.fetchall()
print(rows) 
for row in rows:
    print(row)

[(1, 'Alice', 46), (2, 'Alice', 46), (3, 'Alice', 46)]
(1, 'Alice', 46)
(2, 'Alice', 46)
(3, 'Alice', 46)