In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [6]:
df = pd.DataFrame({
    'color':['red', 'green', 'blue', 'red', 'green', 'red'],
})

In [7]:
df.head()

   color
0    red
1  green
2   blue
3    red
4  green

In [10]:
encoder = OneHotEncoder()

encoder_values = encoder.fit_transform(df[['color']]).toarray()

In [13]:
import pandas as pd

encoder_df = pd.DataFrame(encoder_values, columns=encoder.get_feature_names_out())

In [16]:
encoder_df.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [18]:
df.head()

   color
0    red
1  green
2   blue
3    red
4  green

In [21]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder = LabelEncoder()
lbl_encoder.fit_transform(df[['color']])

c:\Users\jasje\Desktop\ML\venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 2, 1, 2])

In [23]:
import pandas as pd

In [27]:
from sklearn.preprocessing import OrdinalEncoder

In [28]:

df = pd.DataFrame({
    'size':['small', 'medium', 'large', 'small', 'medium', 'large']
})
ord_encoder = OrdinalEncoder( categories=[['small', 'medium', 'large']])

In [30]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.]])

In [34]:
df = pd.DataFrame({
    'city':['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia'],
    'price':[100, 200, 300, 400, 500, 600]
})
df.head()

          city  price
0     New York    100
1  Los Angeles    200
2      Chicago    300
3      Houston    400
4      Phoenix    500

In [38]:
mean_price = df.groupby('city')['price'].mean().to_dict()

In [42]:
df['city_encoded'] = df['city'].map(mean_price)
df[['price', 'city_encoded']]

   price  city_encoded
0    100         100.0
1    200         200.0
2    300         300.0
3    400         400.0
4    500         500.0
5    600         600.0